﻿@page
@model Product.Models.Register

<h1>Log In </h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Name" class="form-control" aria-required="true" placeholder="Name"/>
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="StaffID" class="form-control" aria-required="true" placeholder="Staff ID"/>
                    <span asp-validation-for="StaffID" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Password" class="form-control" aria-required="true" placeholder="Password"/>
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div>
                    <button type="submit" value="Register" class="w-100 btn btn-lg btn-primary">Register</button>
                    <input name="__RequestVerificationToken" type="hidden" value="<removed for brevity>">
                </div
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
