﻿@model Product.Models.Login

<h1>Login</h1>
<hr />

<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data" asp-action="Index" asp-controller="Home">
            <div class="form-group md-4">
                <input asp-for="StaffID" class="form-control" aria-required="true" />
                    <span asp-validation-for="StaffID" class="text-danger"></span>
            </div>
            <div class="form-group md-4">
                <input asp-for="Password" class="form-control" aria-required="true" />
                    <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mt-4">
                <input type="submit" name="commit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

@* <form asp-action="Login" asp-controller="Login">
    <div class="form-outline col-md-4">
        <label class="form-label" for="staffid">Staff ID</label>
        <input id="staffid" class="form-control" />
    </div>

    <div class="form-outline col-md-4">
        <label class="form-label" for="password">Password</label>
        <input type="password" id="password" class="form-control" />
    </div>

    <button type="button" value="Login" class="btn btn-primary btn-block mt-4">Sign in</button>
</form> *@